*
{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body
{   
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.container
{
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    max-width: 23rem;
    height: 38rem;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

.boxpic
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 50%;
    margin-top: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.picmain
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hoverpic
{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 20.7rem;
    height: 18.98rem;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.boxpic:hover .hoverpic
{
    display: flex;
    cursor: pointer;
}

.boxtext
{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 40%;
}

.eth
{
    text-decoration: none;
    color: hsl(178, 100%, 50%);
    margin-top: 1.4em;
    font-weight: 600;
    font-size: 1.3rem;
}

.eth:hover
{
    cursor: pointer;
}

p
{
    color: hsl(215, 51%, 70%);
    margin-top: 1.4em;
    font-size: 1.15rem;
    font-weight: 300;
}

.boxinfo
{   
    display: flex;
    margin-top: 1.4em;
    align-items: center;
}

.price
{
    margin-right: 35%;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time
{
    color: hsl(215, 51%, 70%);
}

.line
{
    display: block;
    border-bottom: 2px solid hsl(215, 32%, 27%);
    margin-top: 1.4em;
}

.container2
{   
    display: flex;
    align-items: center;
    margin-top: 1.4em;
}

.propic
{   
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
    margin-right: 1.5em;
}

.pic3
{
    height: 50px;
    width: 50px;
}

.myname
{
    text-decoration: none;
    color: hsl(178, 100%, 50%);
}